GHERKIN_ROOT_DIR = "/path/to/your/cucumber/tests/directory"

# Ruby
CONFIG = LangConfig.new(/^\s*(?:given|when|then|and|but)\s*\(?\s*\/(\^?[^$\n]*\$?)\/\s*\)?\s*(?:(?:do|{)\s*\|?([^|\n]*)\|?)/i, /\s*,\s*/, "/**/*.rb", "/**/*.feature")

# Scala
CONFIG = LangConfig.new(/^\s*(?:given|when|then|and|but)\s*\(\s*"""(\^?[^$\n]*\$?)"""\s*\)\s*(?:{\s*\(?\s*([^=\n]*)\s*\)?\s*=>)/i, /\s*\:\s*String\s*,?\s*/, "/**/*.scala", "/**/*.feature")
