#statement-list {
  border: 1px solid #8080ff;
  background-color: #f0f0ff;
  padding: 1em;
  list-style-type: none;
}

#statement-list li {
  border: 1px solid transparent;
  height: 1.25em;
  margin: 0.25em 0;
}

#statement-list li.list-title {
	font-weight: bold;
}

#statement-list li.statement {
  display: block;
}

#statement-list li.sortable-dragging {
	border: 1px solid #8080ff;
}

#statement-list li.sortable-placeholder {
	border: 1px dashed #8080ff;
}

#statement-list .statement .label {
  border: 1px solid transparent;
  margin: -0.1em 0.25em;
  padding: 0.25em;
}

#statement-list .statement:hover .label {
  border: 1px dashed #8080ff;
}

#statement-list .statement .handle,
#statement-list .statement .del {
  width: 1em;
  text-align: center;
}

#statement-list .statement .handle {
  float: left;
  cursor: ns-resize;
}

#statement-list .statement .del {
  float: right;
}

#statement-list .var {
  font-weight: bold;
  font-family: monospace;
}